<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.oAuth.dao.GoogleOAuthMapper">

	<update id="updateOAuth">
		UPDATE TB_OAUTH
		SET OAUTH_ACCESS=#{oauthAccess}
		WHERE OAUTH_EMP_EMAIL = #{oauthEmpEmail}
	</update>
</mapper>